################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/Diga.WebView2.Interop/.vs/Diga.WebView2.Interop
/Diga.WebView2.Interop/obj
/Diga.WebView2.Interop/bin/Debug
*.user
/.vs
/Diga.WebView2.Interop/.vs
/Diga.WebView2.Wrapper/.vs
/Diga.WebView2.Wrapper/bin/Debug/net10.0
/Diga.WebView2.Wrapper/obj
/Diga.NativeControls.WebBrowser/bin/Debug/net10.0
/Diga.NativeControls.WebBrowser/obj
/TestWindow/bin/Debug/net10.0
/TestWindow/obj
/Diga.NativeControls.WebBrowser/bin/Release/net10.0
/Diga.WebView2.Interop/bin/Release/net10.0
/Diga.WebView2.Wrapper/bin/Release/net10.0
/TestWindow/bin/Release/net10.0
/TestWindow/Properties/PublishProfiles
/MinimalWinForms/bin
/MinimalWinForms/obj
/Diga.NativeControls.WebBrowser/bin/Debug
/Diga.WebView2.Wrapper/bin/Debug
/Diga.NativeControls.WebBrowser/bin/x64/Debug/net10.0
/Diga.WebView2.Interop/bin/x64/Debug/net10.0
/Diga.WebView2.Wrapper/bin/x64/Debug/net10.0
